<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") -%>
  <body>
    <div class="container">
      <h1><%= heading %></h1>
      <p><%= content %></p>
    </div>
  </body>
  <%- include("partials/footer") -%>
</html>
